:root {
    --almost-black: rgb(19,19,19);
    --dark-gray: rgb(59,59,59);
    --cube-size: min(18vw, 150px, 10vh);
    --biggest-letters: calc(var(--cube-size) - 5px);
    --bigger-letters: calc(var(--cube-size) - 10px);
    --big-letters: calc(var(--cube-size) - min(3vh, 50px));
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--almost-black);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

header {
    text-align: center;
    border-width: 0 0 max(0.3vh, 5px) 0;
    border-style: solid;
    border-color: var(--dark-gray);
    width: 100%;
    padding: 5px 0;
}

main {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px auto;
}

div {
    height: var(--cube-size);
    border: 2px solid var(--dark-gray);
    background-color: var(--almost-black);
    font-size: var(--bigger-letters);
    text-align: center;
}

div:not(#input) {
    min-width: var(--cube-size);
}

input {
    min-height: var(--cube-size);
    padding: 0;
    grid-column: span 4;
    grid-row: 7;
    background-color: white;
    border: 2px solid var(--dark-gray);
    color: var(--almost-black);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--big-letters);
}

#gaet {
    background-color: var(--dark-gray);
    cursor: pointer;
}

*:focus {
    outline: none;
}

input::placeholder {
    font-size: var(--big-letters);
}

input:focus::placeholder {
    color: transparent;
}

#besked {
    position: absolute;
    min-width: calc(100% - 30px);
    min-height: calc(100% - 30px);
    top: 15px;
    left: 15px;
    background-color: white;
    color: var(--almost-black);
    font-size: var(--big-letters);
    text-align: center;
}

#besked button {
    font-size: var(--big-letters);
    width: 350px;
    height: 50px;
}
